@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
    overflow-x: hidden;
  }
  
  h2 {
    font-family: "Raleway", sans-serif;
  }
/* ==== PRODUCT CARD REUSABLE COMPONENT ==== */
.product-card-container:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
  
  .product-card-container:active {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    cursor: pointer;
  }
  
  .card-cart-button {
    display: none;
    top: -120px;
    position: relative;
    left: 75%;
    cursor: pointer;
  }
  
  .product-card-container:active .card-cart-button {
    display: block;
  }
  
  .product-card-container:hover .card-cart-button {
    display: block;
  }

  